<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>All Users</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
	<h1>List of Users</h1>
	<br/>
	<div>
		<table border="1">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Email</th>
			</tr>
			<tr th:each = "user : ${users}">
				<td th:utext="${user.id}"></td>
				<td th:utext="${user.name}"></td>
				<td th:utext="${user.email}"></td>
			</tr>
		</table>
	</div>
	<p>Click <a href="addUser">here</a> to add a new user.</p>
	<p>Return to the home page <a href="/">here</a>.</p>
</body>
</html>